form.ArticleFormField {
  width: 95%;
  margin: auto;
  border: 1px solid red;
  padding: 50px 5%;

  label {
    font-size: 16px;
    font-weight: 800;
    margin: 10px 0 5px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  @include minQ(600px) {
    width: 80%;
  }
}