@mixin linkGrad {
  @include text-gradient(#dff 22%, #bcbcbc 24%, #888 26%, #c8c8c8 27%, #ffffff 40%, #ddd 78%, true);

  &:hover {
    @include text-gradient(#06f, #08f, #0af, #0cf, #4df, #6df, false);

  }
}

header {
  background: linear-gradient(#212121, #111);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;

  .Navbar {
    height: 50px;
    padding: 0 5%;
  }

  .brand {
    @include hamIcon;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      line-height: 38px;
      font-size: 38px;
      color: #fff;
      margin: 0;
      font-family: 'Courier new', monospace, sans-serif;
      font-weight: 900;
      @include linkGrad();
    }
  }


  .nav {
    display: none;
    background: $primaryColor;
    text-align: center;
    padding: 5px;
    margin-top: 1px;

    a {
      display: block;
      width: 100px;
      padding: 5px 0;
      margin: 5px auto;
      color: $secondarColor;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;
      @include linkGrad();

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        bottom: -4px;
        left: 0;
        border-radius: 3px;
        background: linear-gradient(#06f, #08f, #0af, #0cf, #4df, #6df);
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .showNav {
    display: block;
    margin: 0 -10%;
  }

  @media screen and (min-width: 720px) {
    #ham-icon {
      display: none;
    }

    .brand {
      h1 {
        line-height: 40px;
        font-size: 40px;
      }
    }

    .Navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav {
      margin: 0;
      width: 50%;
      display: flex;
      justify-content: space-around;
      background: transparent;

      a {
        width: auto;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 5px;
        margin: 0;
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .brand {
      h1 {
        line-height: 45px;
        font-size: 45px;
      }
    }

    .nav {
      width: 45%;

      a {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}