.cover {
  background: url("../images/dubeytechCover.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  // border-bottom: 1px solid #215db6;
  box-shadow: 0 .1px 10px #215db6;

  .fade {
    background: rgba(255, 255, 255, 0.05);
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .welcome {
    h1 {
      font-family: 'Courier Prime', monospace;
      font-size: clamp(40px, 10vw, 70px);
      @include text-gradient(#06f, #08f, #0af, #0cf, #4df, #6df, true);
    }

    p {
      background: rgba(221, 221, 221, 0.2);
      font-family: 'Courier Prime', monospace;
      display: inline-block;
      font-size: clamp(14px, 2vw, 22px);
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: .15em solid #f00;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    }
  }
}

// Cover Section :end

// Top Posts section START
.ArticlesList {
  .article {
    background: #fff;
    color: #000;
    margin: 20px auto;
    border-radius: 10px;

    &:hover {
      box-shadow: 1px 1px 8px darken(#fff, 10),
        -1px -1px 8px darken(#fff, 10);
    }

    img {
      height: 100px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .content {
      padding: 10px;
    }

    h2 {
      margin: 0 0 10px;

      a {
        color: #000;

        &:hover {
          color: #555;
        }
      }
    }

    .c-subtitle {
      color: #999;
      font-size: 14px;
      font-family: sans-serif;
    }
  }

  @include minQ(600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .article {
      margin: 0;
    }
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fff;
  }
}