header {
  background: linear-gradient(#222, #000);
  border-bottom: 0.1px solid #999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .Navbar {
    height: 50px;
  }

  .brand {
    @include hamIcon;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      line-height: 38px;
      font-size: 38px;
      color: #fff;
      @include text-gradient(#ffebc1 22%, #685639 24%, #b8a988 26%, #cfc09f 27%, #ffecb3 40%, #ffebc1 78%, false);
      font-family: 'Courier new', monospace, sans-serif;
      font-weight: 900;

      &:hover,
      &:active {
        color: #0ff;
        @include text-gradient(#dff 22%, #bebebe 24%, #aaaaaa 26%, #d1d1d1 27%, #ffffff 40%, #ddd 78%, false);
      }
    }
  }


  .nav {
    display: none;
    background: $primaryColor;
    text-align: center;
    padding: 5px;
    margin-top: 1px;

    a {
      display: block;
      width: 100px;
      padding: 5px 0;
      margin: 5px auto;
      color: $secondarColor;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 1px;
      font-weight: 600;

      &:active,
      &:hover {
        color: #0ff;
        border-bottom: 5px solid #0fd;
        margin-bottom: -5px;
      }
    }
  }

  .showNav {
    display: block;
  }

  @media screen and (min-width: 720px) {
    #ham-icon {
      display: none;
    }

    .brand {
      h1 {
        line-height: 40px;
        font-size: 40px;
      }
    }

    .Navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav {
      margin: 0;
      width: 50%;
      display: flex;
      justify-content: space-around;
      background: transparent;

      a {
        width: auto;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 5px;
        margin: 0;
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .brand {
      h1 {
        line-height: 45px;
        font-size: 45px;
      }
    }

    .nav {
      width: 45%;

      a {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}