//  this file is not compiled with main.scss 
//  it has to be compiled separately and linked in src/Loader.css

.LoaderContainer {
  .loader {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
  }

  .gear {
    position: absolute;
    width: 40px;
    height: 40px;
    animation: spin 5s infinite;
  }

  .two {
    left: 40px;
    width: 80px;
    height: 80px;
    animation: spin-reverse 5s infinite;
  }

  .three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
  }

  @keyframes spin {
    50% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    50% {
      transform: rotate(-360deg);
    }
  }

  .text {
    color: lightgray;

    font: {
      size: 18px;
      family: 'Courier Prime',
        monospace;
    }

    text-align: center;
  }

}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');