@import "./_mixins.scss";

$primaryColor: #000;
$secondarColor: #fff;

.swal-overlay {
  background: rgba(42, 118, 234, 0.5);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: $primaryColor;
  color: $secondarColor;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 30px;
  margin: 30px auto;
}

@import "./components/_Navbar.scss";
@import "./components/_HomePage.scss";


// SCROLL-BAR
::-webkit-scrollbar {
  background: #000;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  margin: 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 1);

}